<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>CRUD User App</h1>
    <div class="menu">
      <a href="index.html">Home</a>
      <a href="register.html">Register</a>
      <a href="search.html">Search</a>
    </div>
    <div class="user_list">
      <table style="width: 100%">
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Status</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr>
          <td>Marge</td>
          <td>Simpson</td>
          <td>marge.simpson@gmail.com</td>
          <td>Active</td>
          <td>*</td>
          <td>*</td>
        </tr>
      </table>
    </div>
  </body>
</html>
