<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register Users</title>
  </head>
  <body>
    <form action="/users/store" method="POST">
      Name:
      <input type="text" id="name" name="name" />
      Lastname:
      <input type="text" id="lastname" name="lastname" />
      Email:
      <input type="text" id="email" name="email" />
      <button type="submit" id="sendUserButton">Register</button>
    </form>
  </body>
</html>
